<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="navbar(user)">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">MiaoWu Album</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <th:block th:if="${user}">
        <span class="mr-2" th:text="'Signed as ' + ${user.username}"></span>
        <a class="btn btn-primary my-2 my-sm-0" href="/logout">Sign Out</a>
      </th:block>
      <th:block th:unless="${user}">
        <a class="btn btn-primary my-2 my-sm-0" href="/login">Sign In</a>
      </th:block>
    </div>
  </nav>
</div>
</body>
</html>
